@media only screen and (max-width: 428px) {
  body {
    .top {
      min-height: calc(100vh - 90px);
      .main {
        .inputs{
          .input{
            width: 60px;
          }
        }
        .separator {
          .separator-line {
            width: 250px;
          }
        }
        .result{
          font-size: 45px;
          
          .result-line{
            line-height: 1.1;
          }
        }
      }
    }
    .attribution{
      font-size: 11px;
    }
  }
}